<!DOCTYPE html>
<html lang="en">
<head>
  <title>RawBeefBurgers</title>
  <meta charset="utf-8"/>
</head>
<body>
  <main>
    <h1>Welcome to RawBeefBurgers</h1>
  </main>

  <section>
    <h1>Select your poison</h1>
    <p>Here is where you select your burger</p>
  </section>


  <table>
    <thead>
        <tr>
            <th>The "Original"</th>
            <th>The "Extreme Raw"</th>
            <th>The "Why are you here?"</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              Our patented magic-ingredient-burger<br>
              <img src="/img/rawburger.jpg" alt="Hmm" title="Nice" width="300">
            </td>
            <td>
              So raw it didn't even have time to grow up<br>
              <img src="/img/vegburger.jpg" alt="Hmm" title="Nice" width="300">
            </td>
            <td>
              You know we specialize in <b>RAW</b> burgers, right?<br>
              <img src="/img/whyburger.jpg" alt="Hmm" title="Nice" width="300"></td>
        </tr>
        <tr>
            <td>
              <dl>
              <dt>Allergens:</dt>
              <dd>Gluten, Salt, Beef, Onion, Cheese, Tomato</dd>

              <dt>Nutrituional Values:</dt>
              <dd>Proteins: All hail the glorious proteins<br>
                  Calories: On Tuesdays<br>
                  Nutrients: All of them, especially with beans as sidedish!
              </dd>
            </dl>
          </td>
            <td>
              <dl>
              <dt>Allergens:</dt>
              <dd>Gluten, Salt, Onion, Honey, Tomato</dd>

              <dt>Nutrituional Values:</dt>
              <dd>Proteins: A little bit of improved babycow food here<br>
                  Calories: Only cellulose<br>
                  Nutrients: After a bottle of supplements, sure!
              </dd>
            </dl>
            </td>
            <td>
              <dl>
                <dt>Allergens:</dt>
                <dd>Gluten, Salt, Beef, Onion, Cheese, Tomato</dd>

                <dt>Nutrituional Values:</dt>
                <dd>Proteins: Less than the Original<br>
                    Calories: Yes<br>
                    Nutrients: After a bottle of wine, sure!
                </dd>
              </dl>
            </td>
        </tr>
    </tbody>
  </table>

<form>
    <h1>Such Customer, very information</h1>
    <p> Make us hate GDPR even more below:</p>
    <h2> Let us know who you are ಠ_ಠ</h2>
    <p>
    <label for="fullname">Name:</label><br>
    <input type="text" id="fullname" name="fn" required="required" placeholder="First & Last name" />
</p>
<p>
    <label for="gender">Gender:</label><br>
    <input type="radio" value="dick" name="ge" required="required" placeholder="Dick" /> Dick
    <input type="radio" value="pussy" name="ge" required="required" placeholder="Pussy" /> Pussy
    <input type="radio" value="tentacle" name="ge" required="required" placeholder="Tentacle" checked="checked" /> Tentacle
</p>
<p>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
</p>
<p>
  <label for="street">Street:</label><br>
  <input type="text" id="street" name="st" placeholder="Street name" />
</p>
<p>
  <label for="housenr">House number:</label><br>
  <input type="number" id="housenr" name="hn" placeholder="House number" />
</p>

<p>
    <label for="paymentmethod">Payment-method:</label><br />
    <select id="paymentmethod" name="pm">
        <option>Visa</option>
        <option>MasterCard</option>
        <option>I natura</option>
        <option>Caps</option>
    </select>
</p>
<button type="submit"><img src="/img/submit.png" /> Send nudes</button>
</form>


  <hr>
    <footer>
      &copy; Such Copyright, very wow.
    </footer>

  </body>
  </html>
