<!DOCTYPE html>
<script src="js/js_script.js"></script>
<html lang="en">
<head>
  <script src="js/vue_script.js"></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>RawBeefBurgers</title>
  <meta charset="utf-8"/>
</head>
<body>
  <main>
    <header>
      <h1>Welcome to RawBeefBurgers</h1>
      <img src="/img/longcow.jpg" alt="Hmm" title="Long long cooooooooow" width="500">
    </header>

  <section>
    <h1>Select your poison</h1>
    <p>Here is where you select your burger</p>
  </section>

<section id="burgers">
  <div id="wrapper">
    <div class="title">
      <h2>The "Original"</h2>
      <h3>Our patented magic-ingredient-burger</h3>
    </div>
    <div class="title">
      <h2>The "Extreme Raw"</h2>
      <h3>So raw it didn't even have time to grow up</h3>
    </div>
    <div class="title">
      <h2>The "Why are you here?"</h2>
      <h3>You know we specialize in <b>RAW</b> burgers, right?</h3>
    </div>
    <div class="burgerimage">
      <img src="/img/rawburger.jpg" alt="Hmm" title="Nice" width="300">
    </div>
    <div class="burgerimage">
      <img src="/img/vegburger.jpg" alt="Hmm" title="Nice" width="300">
    </div>
    <div class="burgerimage">
      <img src="/img/whyburger.jpg" alt="Hmm" title="Nice" width="300">
    </div>
    <div class="info">
      <dl>
      <dt>Allergens:</dt>
      <dd><span class="allergen">Gluten</span>, Salt, Beef, <span class="allergen">Lactose</span>, Onion, Tomato</dd>

      <dt>Nutrituional Values:</dt>
      <dd>Proteins: All hail the glorious proteins<br>
          Calories: On Tuesdays<br>
          Nutrients: All of them, especially with beans as sidedish!
      </dd>
    </dl>
    </div>
    <div class="info">
      <dl>
      <dt>Allergens:</dt>
      <dd><span class="allergen">Gluten</span>, <span class="allergen">Lactose</span>, Salt, Onion, Honey, Tomato</dd>

      <dt>Nutrituional Values:</dt>
      <dd>Proteins: A little bit of improved babycow food here<br>
          Calories: Only cellulose<br>
          Nutrients: After a bottle of supplements, sure!
      </dd>
    </dl>
    </div>
    <div class="info">
      <dl>
        <dt>Allergens:</dt>
        <dd><span class="allergen">Gluten</span>, Salt, Beef, Onion, <span class="allergen">Lactose</span>, Tomato</dd>

        <dt>Nutrituional Values:</dt>
        <dd>Proteins: Less than the Original<br>
            Calories: Yes<br>
            Nutrients: After a bottle of wine, sure!
        </dd>
      </dl>
    </div>
  </div>
</section>

<section id="information">
<form>
    <h1>Such Customer, very information</h1>
    <p> Make us hate GDPR even more below:</p>
    <h2> Let us know who you are ಠ_ಠ</h2>
    <p>
    <label for="fullname">Name:</label><br>
    <input type="text" id="fullname" name="fn" required="required" placeholder="First & Last name" />
</p>
<p>
    <label for="gender">Gender:</label><br>
    <input type="radio" value="dick" name="ge" required="required" placeholder="Dick" /> Dick
    <input type="radio" value="pussy" name="ge" required="required" placeholder="Pussy" /> Pussy
    <input type="radio" value="tentacle" name="ge" required="required" placeholder="Tentacle" checked="checked" /> Tentacle
</p>
<p>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
</p>
<p>
  <label for="street">Street:</label><br>
  <input type="text" id="street" name="st" placeholder="Street name" />
</p>
<p>
  <label for="housenr">House number:</label><br>
  <input type="number" id="housenr" name="hn" placeholder="House number" />
</p>

<p>
    <label for="paymentmethod">Payment-method:</label><br />
    <select id="paymentmethod" name="pm">
        <option>Visa</option>
        <option>MasterCard</option>
        <option>I natura</option>
        <option>Caps</option>
    </select>
</p>
<button type="submit"><img src="/img/submit.png" /> Send nudes</button>
</form>
</section>
</main>

  <hr>
    <footer>
      &copy; Such Copyright, very wow.
    </footer>

  </body>
  </html>
