<!DOCTYPE html>
<html lang="en">
<head>
  <title>RawBeefBurgers</title>
  <meta charset="utf-8"/>
</head>
<body>
  <main>
    <h1>Welcome to RawBeefBurgers</h1>
  </main>

  <section>
    <h1>Select your poison</h1>
    <p>Here is where you select your burger</p>
  </section>


  <table>
    <thead>
        <tr>
            <th>The "Original"</th>
            <th>The "Extreme Raw"</th>
            <th>The "Why are you here?"</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              Our patented magic-ingredient-burger<br>
              <img src="/img/rawburger.jpg" alt="Hmm" title="Nice" width="300">
            </td>
            <td>
              So raw it didn't even have time to grow up<br>
              <img src="/img/vegburger.jpg" alt="Hmm" title="Nice" width="300">
            </td>
            <td>
              You know we specialize in <b>RAW</b> burgers, right?
              <img src="/img/whyburger.jpg" alt="Hmm" title="Nice" width="300"></td>
        </tr>
        <tr>
            <td>
              <dl>
              <dt>Allergens:</dt>
              <dd>Gluten, Salt, Beef, Onion, Cheese, Tomato</dd>

              <dt>Nutrituional Values:</dt>
              <dd>Proteins: All hail the glorious proteins<br>
                  Calories: On Tuesdays<br>
                  Nutrients: All of them, especially with beans as sidedish!
              </dd>
            </dl>
          </td>
            <td>
              <dl>
              <dt>Allergens:</dt>
              <dd>Gluten, Salt, Onion, Honey, Tomato</dd>

              <dt>Nutrituional Values:</dt>
              <dd>Proteins: A little bit of improved babycow food here<br>
                  Calories: Only cellulose<br>
                  Nutrients: After a bottle of supplements, sure!
              </dd>
            </dl>
            </td>
            <td>
              <dl>
                <dt>Allergens:</dt>
                <dd>Gluten, Salt, Beef, Onion, Cheese, Tomato</dd>

                <dt>Nutrituional Values:</dt>
                <dd>Proteins: Less than the Original<br>
                    Calories: Yes<br>
                    Nutrients: After a bottle of wine, sure!
                </dd>
              </dl>
            </td>
        </tr>
    </tbody>
  </table>

  <section>
    <h1>providing information</h1>
    <p>some informative text</p>
  </section>
  <hr>
    <footer>
      &copy; Such Copyright, very wow.
    </footer>
  </body>


  </html>
