
body {
  font-family: arial;
  font-size: 1.25em;
}

.allergen {
  font-weight: bold;

}

#burgers {
  background-color: #000000;
  color: #ffffff;
}

#information {

}

button:hover {
  background-color: #fff000;
  cursor: pointer;
}

table {
  width: 80%;
  align-self: center;
}

section {
  margin: 1rem;
}

button {
  marigin: 2rem;
}
