
body {
  font-family: arial;
  font-size: 1.25em;
}

.allergen {
  font-weight: bold;

}

#burgers {
  border: 2px dotted;
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
}

#information {
border: 2px dotted;
padding: 1rem;
}

button:hover {
  background-color: #fff000;
  cursor: pointer;
}

table {
  width: 80%;
  align-self: center;
}

header {
  margin: 1rem;
}

header img {
  opacity: 50%;
}

section {
  margin: 1rem;
}

button {
  marigin: 2rem;
}
